
.layout{
    width:100vw;
    height: auto;
    display: grid;
    grid-template-columns: 15vw 1fr;
    grid-template-rows: auto 1fr;
}

.aside {
    grid-row: 2;

    height: 95vh;
    width: 15vw;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    
    font-size:1.2rem;
    color:wheat;

    border:1px solid black;
    background-color: rgb(16, 16, 49);
}

.aside a{
    text-decoration:none;
    color: inherit;
    padding: 20px 16px;
    width: 95%;

    border: 1px solid wheat;
    border-radius: 10px;
}
.aside a:hover{
    background-color: rgba(20, 20, 122, 0.649);
}

.nav{
    grid-column:1/-1;
    width: 100%;
    height: 8vh;

    font-size:1.2rem;
    color:wheat;

    border:1px solid black;
    background-color: rgba(13, 13, 126, 0.789);

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    align-items: center;
}

.nav a{
    text-decoration:none;
    color: inherit;
    padding: 20px 16px;
    /* width: 95%; */

    border: 1px solid wheat;
    border-radius: 10px;
}
.nav a:hover{
    background-color: rgba(20, 20, 122, 0.649);
}


.outlet{
    grid-row:2;
    grid-column:2;

    height: 100%;
}