.layout{
    width:100vw;
    height: auto;
    display: grid;
    grid-template-columns: 15vw 1fr;
    grid-template-rows: auto 1fr;
}

.aside{
    grid-row: 2;

    width: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 95vh;
    
    border:1px solid black;
}


.nav{
    grid-column:1/-1;
    width: 100%;
    height: 5vh;

    border:1px solid black;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.outlet{
    grid-row:2;
    grid-column:2;

    height: 100%;
}